NODE_ENV=development
HOST=0.0.0.0
PORT=3333
DATABASE_URL="postgresql://caca:caca@localhost:5433/caca?schema=public"
JWT_SECRET="troque-esta-chave-por-uma-frase-com-mais-de-32-caracteres"
FRONTEND_ORIGIN="http://localhost:3000"
BCRYPT_SALT_ROUNDS=12
